node_id: cm5
roles: [CTRL, SENSOR, ACTUATOR]
fastpath:
  shm_name: "/aoglink_steer"
  eventfd_name: "/pumpkin-pi-steer"
  setpoint_ttl_ms: 250
hal:
  backend: pwm          # pwm | gpio | can
  pwm:
    chip: 0
    channel: 0
    period_ns: 2000000
  gpio:
    chip: gpiochip0
    line: 12
    active_high: true
  can:
    interface: can0
    arbitration_id: 0x180
mqtt:
  broker: "localhost:1883"
  client_id: pumpkin-pi
  publish_status: true
grpc:
  listen: "unix:///run/pumpkin-pi.sock"
authority:
  topic: "aog/v1/ctrl/authority/steer"
  default_owner: cm5
  hold_interval: 150ms
